@font-face {
	font-family: 'MeshellCoFoodIcons';
	src:url('fonts/MeshellCoFoodIcons.eot');
	src:url('fonts/MeshellCoFoodIcons.eot?#iefix') format('embedded-opentype'),
		url('fonts/MeshellCoFoodIcons.ttf') format('truetype'),
		url('fonts/MeshellCoFoodIcons.woff') format('woff'),
		url('fonts/MeshellCoFoodIcons.svg#MeshellCoFoodIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'MeshellCoFoodIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-mc-bakingmit:before {
	content: "\e600";
}
.icon-mc-wineglass:before {
	content: "\e601";
}
.icon-mc-winebottle:before {
	content: "\e602";
}
.icon-mc-teapot:before {
	content: "\e603";
}
.icon-mc-teacup:before {
	content: "\e604";
}
.icon-mc-strainertall:before {
	content: "\e605";
}
.icon-mc-strainer:before {
	content: "\e606";
}
.icon-mc-steak:before {
	content: "\e607";
}
.icon-mc-spoontallholes:before {
	content: "\e608";
}
.icon-mc-spoontall:before {
	content: "\e609";
}
.icon-mc-spoon:before {
	content: "\e60a";
}
.icon-mc-spatulasmall:before {
	content: "\e60b";
}
.icon-mc-spatulamedium:before {
	content: "\e60c";
}
.icon-mc-spatulalarge:before {
	content: "\e60d";
}
.icon-mc-spatulagrill:before {
	content: "\e60e";
}
.icon-mc-spatulaflat:before {
	content: "\e60f";
}
.icon-mc-saltshaker:before {
	content: "\e610";
}
.icon-mc-pretzel:before {
	content: "\e611";
}
.icon-mc-pot:before {
	content: "\e612";
}
.icon-mc-pizzaslicer:before {
	content: "\e613";
}
.icon-mc-pizza:before {
	content: "\e614";
}
.icon-mc-pin:before {
	content: "\e615";
}
.icon-mc-pan:before {
	content: "\e616";
}
.icon-mc-measurecups:before {
	content: "\e617";
}
.icon-mc-knifecleaver:before {
	content: "\e618";
}
.icon-mc-knifebutch:before {
	content: "\e619";
}
.icon-mc-knifebread:before {
	content: "\e61a";
}
.icon-mc-knife:before {
	content: "\e61b";
}
.icon-mc-kitchenaid:before {
	content: "\e61c";
}
.icon-mc-icecream:before {
	content: "\e61d";
}
.icon-mc-fork:before {
	content: "\e61e";
}
.icon-mc-flour:before {
	content: "\e61f";
}
.icon-mc-wisk:before {
	content: "\e620";
}
.icon-mc-cuttingboardhandle:before {
	content: "\e621";
}
.icon-mc-cuttingboard:before {
	content: "\e622";
}
.icon-mc-cupcake:before {
	content: "\e623";
}
.icon-mc-crockpot:before {
	content: "\e624";
}
.icon-mc-crab:before {
	content: "\e625";
}
.icon-mc-chickenthigh:before {
	content: "\e626";
}
.icon-mc-cherries:before {
	content: "\e627";
}
.icon-mc-chefhat:before {
	content: "\e628";
}
.icon-mc-cheese:before {
	content: "\e629";
}
.icon-mc-carrot:before {
	content: "\e62a";
}
.icon-mc-bread:before {
	content: "\e62b";
}
.icon-mc-bowl:before {
	content: "\e62c";
}
